BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "swA" SITE "40" ;
LOCATE COMP "swB" SITE "41" ;
LOCATE COMP "swC" SITE "42" ;
LOCATE COMP "swD" SITE "43" ;
LOCATE COMP "swE" SITE "45" ;
LOCATE COMP "swF" SITE "47" ;
LOCATE COMP "swU" SITE "75" ;

LOCATE COMP "rst" SITE "36" ;
LOCATE COMP "led" SITE "24" ;

LOCATE COMP "sda" SITE "85" ;
LOCATE COMP "scl" SITE "86" ;
LOCATE COMP "rx" SITE "3" ;
LOCATE COMP "tx" SITE "4" ;
LOCATE COMP "rx2" SITE "99" ;
LOCATE COMP "tx2" SITE "97" ;

LOCATE COMP "neopixel" SITE "7" ;
LOCATE COMP "spk" SITE "8" ;

IOBUF PORT "swA" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "swB" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "swC" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "swD" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "swE" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "swF" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "swU" PULLMODE=UP IO_TYPE=LVCMOS33 ;

IOBUF PORT "rst" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led" IO_TYPE=LVCMOS33 ;

IOBUF PORT "rx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rx2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tx2" IO_TYPE=LVCMOS33 ;

IOBUF PORT "neopixel" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spk" IO_TYPE=LVCMOS33 ;

LOCATE COMP "xin" SITE "20" ;
LOCATE COMP "xout" SITE "21" ;

IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF PORT "xin" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
